<!-- Footer -->
<footer class="pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-4" style="margin-top: 10px">
                <div class="footer-item">
                    <div class="footer-logo">
                        <a href="sass.html">
                            <img src="assets/img/logo-two.png" alt="Logo">
                        </a>
                        <p>Lorem ipsum dolor sit amet, consectetur adiisicing elit, sed do eiusmod tempor inc Neque
                            porro quisquam est, qui dolorem magnam aliquam quaerat luptatem.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <div class="footer-item">
                    <div class="footer-links">
                        <h3>Support</h3>
                        <ul>
                            <li>
                                <a href="faq.html" target="_blank">FAQ</a>
                            </li>
                            <li>
                                <a href="privacy-policy.html" target="_blank">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="terms-condiitons.html" target="_blank">Terms & Condiitons</a>
                            </li>
                            <li>
                                <a href="#" target="_blank">Community</a>
                            </li>
                            <li>
                                <a href="conatct.html" target="_blank">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <div class="footer-item">
                    <div class="footer-links">
                        <h3>Compnay</h3>
                        <ul>
                            <li>
                                <a href="about.html" target="_blank">About Us</a>
                            </li>
                            <li>
                                <a href="services.html" target="_blank">Services</a>
                            </li>
                            <li>
                                <a href="features.html" target="_blank">Features</a>
                            </li>
                            <li>
                                <a href="pricing.html" target="_blank">Our Pricing</a>
                            </li>
                            <li>
                                <a href="blog.html" target="_blank">Latest News</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="footer-item">
                    <div class="footer-address">
                        <h3>Address</h3>
                        <ul>
                            <li>
                                <span>Address:</span>
                                2659 Autostrad St, London, UK
                            </li>
                            <li>
                                <span>Message:</span>
                                <a href="mailto:hello@dilx.com">hello@dilx.com</a>
                            </li>
                            <li>
                                <span>Phone:</span>
                                <a href="tel:2151234567">215 - 123 - 4567</a>
                            </li>
                            <li>
                                <span>Open:</span>
                                Mon - Fri/9:00 AM - 6:00 PM
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->

<!-- Copyright -->
<div class="copyright-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="copyright-item">

                    <p>Copyright @
                        <script>document.write(new Date().getFullYear())</script> IOIT IEEE — Made by IOIT IEEE
                        SB <a href="webteam.html" target="_blank">WEB TEAM</a>
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="copyright-item">
                    <ul>
                        <li>
                            <a href="#" target="_blank">
                                <i class='bx bxl-facebook'></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class='bx bxl-twitter'></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class='bx bxl-instagram'></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class='bx bxl-pinterest-alt'></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class='bx bxl-youtube'></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Copyright -->