<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>IOIT IEEE | Connect Learn, and Grow with a Global Community of Technology Professionals and
        Enthusiasts.
    </title>

    <link rel="icon" type="image/png" href="assets/img/OIPLL.jpg">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- Meanmenu CSS -->
    <link rel="stylesheet" href="assets/css/meanmenu.css">
    <!-- Boxicons CSS -->
    <link rel="stylesheet" href="assets/css/boxicons.min.css">
    <!-- Flaticons CSC -->
    <link rel="stylesheet" href="assets/fonts/flaticon.css">
    <!-- Popup CSS -->
    <link rel="stylesheet" href="assets/css/magnific-popup.min.css">
    <!-- Odometer CSS -->
    <link rel="stylesheet" href="assets/css/odometer.min.css">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="assets/css/responsive.css">
    <!-- Theme Dark CSS -->
    <link rel="stylesheet" href="assets/css/theme-dark.css">

    <title>Dilx - IT & Marketing Startup Bootstrap 5 Template</title>

    <link rel="icon" type="image/png" href="assets/img/favicon.png">
</head>

<body>

    <!-- Preloader -->
    <div class="loader" id="loader">

    </div>
    <!-- End Preloader -->



    <div class="navbar-area fixed-top" id="header" style="user-select:none;"></div>



    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#header').load('./commons/header.html');
            $('#loader').load('./commons/preloader.html');
            $('#footer').load('./commons/footer.html');
            $('#copyright').load('./commons/copyright.html');
        });
    </script>

    <!-- Page Title -->
    <div class="page-title-area">


        <div class="bg-text">
            <!-- <span>Dilx<br>Digital<br>Informative<br>Solution</span> -->
            <div id="particles-js"></div>


            <!-- stats - count particles -->


            <!-- particles.js lib (JavaScript CodePen settings): https://github.com/VincentGarreau/particles.js -->
            <!-- particles.js lib - https://github.com/VincentGarreau/particles.js -->
            <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

            <style>
                #particles-js {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: #00356B;
                }
            </style>

            <script>
                particlesJS("particles-js", {
                    "particles": {
                        "number": {
                            "value": 100,
                            //200
                            "density": {
                                "enable": true,
                                "value_area": 1000
                                //700
                            }
                        },
                        "color": {
                            "value": "#ffffff"
                        },
                        "shape": {
                            "type": "circle",
                            "stroke": {
                                "width": 0,
                                "color": "#000000"
                            },
                            "polygon": {
                                "nb_sides": 5
                            },
                        },
                        "opacity": {
                            "value": 0.4,
                            "random": false,
                            "anim": {
                                "enable": false,
                                "speed": 0.8,
                                "opacity_min": 0.1,
                                "sync": false
                            }
                        },
                        "size": {
                            "value": 8,
                            "random": true,
                            "anim": {
                                "enable": false,
                                "speed": 14,
                                "size_min": 0.1,
                                "sync": false
                            }
                        },
                        "line_linked": {
                            "enable": true,
                            "distance": 150,
                            "color": "#ffffff",
                            "opacity": 0.4,
                            "width": 1
                        },
                        "move": {
                            "enable": true,
                            "speed": 3,
                            "direction": "none",
                            "random": false,
                            "straight": false,
                            "out_mode": "out",
                            "bounce": false,
                            "attract": {
                                "enable": false,
                                "rotateX": 600,
                                "rotateY": 1200
                            }
                        }
                    },
                    "interactivity": {
                        "detect_on": "canvas",
                        "events": {
                            "onhover": {
                                "enable": true,
                                "mode": "grab"
                            },
                            "onclick": {
                                "enable": true,
                                "mode": "push"
                            },
                            "resize": true
                        },
                        "modes": {
                            "grab": {
                                "distance": 140,
                                "line_linked": {
                                    "opacity": 1
                                }
                            },
                            "bubble": {
                                "distance": 400,
                                "size": 40,
                                "duration": 2,
                                "opacity": 8,
                                "speed": 3
                            },
                            "repulse": {
                                "distance": 200,
                                "duration": 0.4
                            },
                            "push": {
                                "particles_nb": 4
                            },
                            "remove": {
                                "particles_nb": 2
                            }
                        }
                    },
                    "retina_detect": true
                });


            </script>


        </div>



        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="title-item">
                        <!-- <h2>About</h2> -->



                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <h3 class="animate-charcter">Events</h3>
                                </div>
                            </div>
                        </div>

                        <style>
                            .animate-charcter {
                                text-transform: uppercase;
                                background-image: linear-gradient(-225deg,
                                        #ffffff 0%,
                                        #0e65bc 29%,
                                        #063565 67%,
                                        #f7f7f8 100%);
                                background-size: auto auto;
                                background-clip: border-box;
                                background-size: 200% auto;
                                color: #fff;
                                background-clip: text;
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                                animation: textclip 4s linear infinite;
                                display: inline-block;
                                font-size: 8vw;
                                /* Use vw instead of px for font-size */
                            }

                            @keyframes textclip {
                                to {
                                    background-position: 200% center;
                                }
                            }

                            /* Add media query for smaller screen sizes */
                            @media (max-width: 768px) {
                                .animate-charcter {
                                    font-size: 16vw;
                                }
                            }
                        </style>

                        <ul>
                            <li>
                                <a href="/" style="">Home</a>
                            </li>
                            <li>
                                <span>Events</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Title -->

    <!-- Portfolio -->
    <div class="portfolio-area two ptb-100">
        <div class="container">
            <div class="row" id="pp">









                <!-- 
                <div class="col-sm-6 col-lg-4" onclick="location.href='/post/<%= users._id %>';">
                    <div class="portfolio-item">
                        <div class="image-container">
                            <img src="<%= users.img1 %>" alt="Portfolio" class="portfolio-image">
                        </div>
                        <div class="portfolio-inner">
                            <span class="date">
                                <%= users.Datee %>
                            </span>
                            <h3>
                                <a href="#">
                                    <%= users.heading %>
                                </a>
                            </h3>
                        </div>
                    </div>
                </div> -->




            </div>



            <div class="pagination-area">
                <ul>
                    <li>
                        <a href="#">Prev</a>
                    </li>
                    <li>
                        <a href="#" class="active">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">Next</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <!-- End Portfolio -->
    <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        // Fetch data using Axios
        axios.get('http://localhost:8000/post')
            .then(function (response) {
                var data = response.data;
                var dataContainer = document.getElementById('pp');

                // Loop through the data and create HTML elements
                data.forEach(function (user) {
                    var divCol = document.createElement('div');
                    divCol.className = 'col-sm-6 col-lg-4';

                    var divPortfolioItem = document.createElement('div');
                    divPortfolioItem.className = 'portfolio-item';

                    var divImageContainer = document.createElement('div');
                    divImageContainer.className = 'image-container';

                    var image = document.createElement('img');
                    image.src = user.img1;
                    image.alt = 'Portfolio';
                    image.className = 'portfolio-image';

                    divImageContainer.appendChild(image);

                    var divPortfolioInner = document.createElement('div');
                    divPortfolioInner.className = 'portfolio-inner';

                    var spanDate = document.createElement('span');
                    spanDate.className = 'date';
                    spanDate.textContent = user.Datee;

                    var heading = document.createElement('h3');
                    var link = document.createElement('a');
                    link.href = '#';
                    link.textContent = user.heading;

                    heading.appendChild(link);
                    divPortfolioInner.appendChild(spanDate);
                    divPortfolioInner.appendChild(heading);

                    divPortfolioItem.appendChild(divImageContainer);
                    divPortfolioItem.appendChild(divPortfolioInner);

                    divCol.appendChild(divPortfolioItem);

                    dataContainer.appendChild(divCol);
                });
            })
            .catch(function (error) {
                console.log(error);
            });
    </script> -->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function redirectToBlog(id) {
            console.log(id);
            window.location.href = 'eventdetail.html?id=' + id;
        }

        $.ajax({
            url: 'https://ieee-backend-testing2.onrender.com/post',
            method: 'GET',
            dataType: 'json',
            success: function (response) {
                var data = response;
                var dataContainer = $('#pp');

                $.each(data, function (index, user) {
                    var divCol = $('<div></div>').addClass('col-sm-6 col-lg-4');

                    var divPortfolioItem = $('<div></div>').addClass('portfolio-item');

                    var divImageContainer = $('<div></div>').addClass('image-container');

                    var image = $('<img>').attr({
                        src: user.img1,
                        alt: 'Portfolio'
                    }).addClass('portfolio-image');

                    divImageContainer.append(image);

                    var divPortfolioInner = $('<div></div>').addClass('portfolio-inner');

                    var spanDate = $('<span></span>').addClass('date');
                    var date = new Date(user.Datee);
                    var formattedDate = date.toLocaleDateString('en-US', {
                        weekday: 'short',
                        month: 'short',
                        day: 'numeric',
                        year: 'numeric'
                    });
                    spanDate.text(formattedDate);

                    var heading = $('<h3></h3>');
                    var link = $('<a></a>').attr('href', '#').text(user.heading);

                    heading.append(link);
                    divPortfolioInner.append(spanDate);
                    divPortfolioInner.append(heading);

                    divPortfolioItem.append(divImageContainer);
                    divPortfolioItem.append(divPortfolioInner);

                    divCol.append(divPortfolioItem);

                    divCol.removeClass('default');

                    dataContainer.append(divCol);

                    divCol.attr('data-id', user._id);

                    divCol.on('click', function () {
                        redirectToBlog($(this).attr('data-id'));
                    });
                });
            },
            error: function (error) {
                console.log(error);
            }
        });
    </script>

    <script>
        $('#date').each(function () {
            var date = new Date($(this).text());
            var formattedDate = date.toLocaleDateString('en-US', {
                weekday: 'short',
                month: 'short',
                day: 'numeric',
                year: 'numeric'
            });
            $(this).text(formattedDate);
        });
    </script>


    <style>
        .portfolio-item {
            /* Set the desired width for the container */
            width: 100%;
        }

        .image-container {
            /* Ensure the image fits within the container */
            width: 100%;
            height: 0;
            padding-bottom: 100%;
            overflow: hidden;
            position: relative;
        }

        .portfolio-image {
            /* Set the image to cover the container */
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
        }
    </style>



    <!-- Footer -->
    <footer class="pt-100 pb-70" id="footer"> </footer>
    <!-- End Footer -->

    <!-- Copyright -->
    <div class="copyright-area" id="copyright">

    </div>
    <!-- End Copyright -->

    <!-- Go Top -->
    <div class="go-top">
        <i class='bx bx-up-arrow'></i>
        <i class='bx bx-up-arrow'></i>
    </div>
    <!-- End Go Top -->


    <!-- Essential JS -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <!-- Form Validator JS -->
    <script src="assets/js/form-validator.min.js"></script>
    <!-- Contact JS -->
    <script src="assets/js/contact-form-script.js"></script>
    <!-- Ajax Chip JS -->
    <script src="assets/js/jquery.ajaxchimp.min.js"></script>
    <!-- Meanmenu JS -->
    <script src="assets/js/jquery.meanmenu.js"></script>
    <!-- Popup JS -->
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Odometer JS -->
    <script src="assets/js/odometer.min.js"></script>
    <script src="assets/js/jquery.appear.js"></script>
    <!-- Owl Carousel JS -->
    <script src="assets/js/owl.carousel.min.js"></script>
    <!-- Thumb Slider JS -->
    <script src="assets/js/thumb-slide.js"></script>
    <!-- Wow JS -->
    <script src="assets/js/wow.min.js"></script>
    <!-- Custom JS -->
    <script src="assets/js/custom.js"></script>
</body>

</html>